.contact {
  background-color: #22356f;
  max-width: 1560px;

  &__content {
    display: flex;
    justify-content: space-between;
    
    @include mobile {
      flex-direction: column;
    }

    @include miniTablet {
      flex-direction: column;
    }

    &--description {
      display: flex;
      flex-direction: column;
      max-width: 550px;
      margin: 105px 0 0 180px;

      @include mobile {
        margin: 100px 20px 50px;
      }

      @include miniTablet {
        margin: 180px 105px 30px;
        max-width: 600px;
      }

      @include Tablet {
        max-width: 350px;
        margin: 105px 20px 0 100px;
        width: 430px;
      }

      &-name {
        font-size: 16px;
        line-height: 12px;
        letter-spacing: 0.06em;
        color: #fff;
        text-transform: uppercase;
      }

      &-title {
        font-size: 64px;
        line-height: 94px;
        letter-spacing: -0.01em;
        color: #fff;
        margin-top: 230px;
        margin-bottom: 75px;

        @include mobile {
          margin-top: 180px;
        }

        @include Tablet {
          margin-top: 180px;
          margin-bottom: 30px;
          font-size: 56px;
          width: 430px;
        }
      }

      &-text {
        font-size: 36px;
        line-height: 53px;
        letter-spacing: -0.01em;
        color: #fff;

        @include mobile {
          text-align: justify;
        }

        @include miniTablet {
          text-align: justify;
        }

        @include Tablet {
          width: 430px;
        }
      }

      &-link {
        font-size: 16px;
        line-height: 23px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        color: #62d0df;
        margin-top: 70px;
        text-decoration: none;

        &:hover {
          color: #62d111;
        }
      }
    }

    &--photo {
      background-image: url(../images/charles-etoroma-390119.svg);
      width: 480px;
      height: 800px;
      background-repeat: no-repeat;
      background-size: contain;
      max-width: 100%;
      margin: 0 auto;
      margin-right: 0;
    }
  }
}
