.page {
  font-family: "Larsseit", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  margin: 0;
  width: 100%;
  overflow-x: hidden;

  &__body {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1560px;
    overflow-x: hidden;
    background-color: rgb(201, 188, 188);
  }
}
